* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: visible;
}

$blue: #013f7e;
$white: #ffffff;
$dark-grey: #191d2b;
$color-fitness-club: var(--bs-indigo);
$color-light-fitness-club: #7e28ff;
$box-shadow-lg: 0 1rem 3rem rgba($white, 0.175);

:root {
  --color-primary: #191d2b;
  --color-secondary: #27ae60;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --color-grey-7: #efefef;
  --png-filter: opacity(0.5) drop-shadow(0 0 0 #6600ff);
  --color-pawnda: #61dafb;
  --color-nextjs-ecomm: rgba(255, 255, 255, 0.4);
  --color-tech-community: #27ae60;
  --color-fitness: #7952b3;
  --color-constitution: #f7df1e;
  --color-srota: greenyellow;
  --color-weekend-watch: #b41717;
  --br-sm-2: 1rem;
  --backdropFilter: blur(0.5rem);
  --easeInOut: all 0.4s ease-in-out;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

#header {
  background-image: url(../img/mobileHeroImage.jpg);
  height: 40vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

section {
  background-color: var(--color-grey-6);
  color: var(--color-grey-2);
}

.navbar {
  .container-fluid {
    .navbar-brand {
      width: 170px;
      height: 50px;
    }

    .navbar-toggler {
      border: none;
      outline: none;
    }

    .fa-bars {
      color: $color-fitness-club;
      font-size: 1.75rem;
    }

    #navbarNav {
      .navbar-nav {
        .nav-item {
          .nav-link {
            float: right;
            text-align: center;
            width: 100%;
            color: var(--color-grey-1) !important;
            background-color: $color-fitness-club;

            &:hover {
              background-color: $color-light-fitness-club !important;
            }
          }
          .active {
            color: var(--color-grey-1) !important;
          }
        }
      }
    }
  }
}

// Welcome Text

#welcome {
  padding: 1rem;
  .welcome {
    padding: 1.5rem 1rem 1rem 1rem;
    margin-top: -6rem;
    color: var(--color-grey-1);
    background-color: #2a354f;

    h5 {
      font-weight: 700;
    }

    .fa-quote-left {
      top: 2%;
      left: 45%;
    }

    hr {
      color: $color-fitness-club;
      background-color: $color-fitness-club;
      height: 0.25rem;
      margin: 1rem 3rem !important;
      text-align: center;
    }

    .home-btn {
      padding: 0.5rem 2rem;
      border-radius: 2rem;
      font-weight: 700;
      color: var(--color-grey-1);
      background-color: $color-fitness-club;

      &:hover {
        color: $color-fitness-club;
        background-color: $white;
      }
    }
  }
}

// About Us
#about {
  padding-top: 1rem;
  padding-bottom: 1rem;

  .container {
    .row {
      .col-md-6 {
        padding: 1rem 1rem;

        h2 {
          margin: 2.25rem auto;
        }
      }
    }
  }
}

// Services
#services {
  background-color: var(--color-grey-7);
  .container {
    .row {
      .col-md-4 {
        padding: 20px;
        h4 {
          padding: 5px;
          color: var(--color-fitness);
        }
        img {
          width: 50px;
          filter: var(--png-filter);
        }
        .fa-bell {
          filter: var(--png-filter);
        }
        p {
          padding: 5px;
          text-align: justify;
          color: #2a354f;
        }
      }
    }
  }
}

// Features
#features {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url(https://i.kym-cdn.com/photos/images/newsfeed/001/370/937/834.png);
  background-size: cover;
  color: $white;

  .container {
    .row {
      display: flex;
      flex-wrap: nowrap;

      .fa,
      .fas {
        width: 10%;
        font-size: 2.4rem;
        color: $color-light-fitness-club;
        margin-top: 1.5rem;
      }

      div {
        padding: 0 2.5rem 0 2.5rem;
      }
    }
  }
}

// Testimonials
#testimonials {
  .container {
    h1 {
      color: $blue;
    }
    p {
      padding-bottom: 20px;
    }
    .row {
      .middle {
        margin-bottom: -30px;
        margin-top: -30px;
      }
      .col-md-4 {
        padding: 10px 30px;
        .review {
          font-size: 16px;
          padding: 10px 10px 10px 30px;
          border-radius: 10px;
          box-shadow: $box-shadow-lg;

          .fa-twitter {
            color: $blue;
          }

          span {
            color: $blue;
            font-weight: 600;
            font-size: 18px;
          }
        }
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-left: -30px;
          margin-top: -40px;
          border: 5px solid #fff;
          margin-bottom: 30px;
        }
      }
    }
  }
}

// Subscribe

#subscribe {
  .container {
    .subscribe {
      padding: 50px 20px;
      background-color: $blue;
      box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
      margin-bottom: -280px;
      h2,
      p {
        color: #fff;
      }

      .input-group {
        border-radius: 30px;
        background: #fff;
        max-width: 500px;
        margin: 10px auto;
        padding: 5px;

        .form-control {
          border: none;
          background: transparent;
          &:focus {
            box-shadow: none;
            background: transparent;
          }
        }

        .input-group-append {
          background-image: linear-gradient(to right, #1c03b5, #5c8b3f);
          border-radius: 30px;

          .input-group-text {
            background: transparent;
            border: none;
            color: #fff;
          }

          .btn {
            &:focus {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}

// Footer
#footer {
  margin-top: 10rem;
  padding-top: 10rem;
  background-color: #efefef;
  color: $blue;
}

.copyright {
  background-color: #efefef;
  margin-bottom: -2rem;
}

@import "./media";
